body
{
    margin: 0;
    background-color: rgb(167, 164, 164);
}

header
{
    background-color: white;
}
h1
{
    margin-top:0 ;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-image: url(image_ballon.jpg);
    background-repeat: no-repeat;
    background-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    

}


.article
{
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: white;
    border: 1px solid;
    margin-right: 5%;
}